<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Page</title>
</head>
<body>
    <h1>CSU Course Catalog</h1>
    <a href="{{ url_for('home')}}">Home</a>
    <a href="{{ url_for('search')}}">Search</a>
    <a href="{{ url_for('course')}}">Course</a>
    <a href="{{ url_for('department')}}">Department</a>

    
    <header>
        <nav>
        <div class="menu">Menu</div>
        <ul>
            <li><a href="#">Majors</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Departments</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Learn more</a></li>
        </ul>
        </nav>
        <h1>Colorado State University</h1>
        <h2>Welcome to Colorado State University! Home of the Rams!</h2>
    </header>
    <main>
        <p>Nestled in Fort Collins against the backdrop of the Rocky Mountains, Colorado State University (CSU) offers top-tier education in a vibrant, diverse community. Known for cutting-edge research, hands-on learning, and a spirited campus life, CSU merges academic excellence with the beauty of Colorado's landscapes, fostering a dynamic environment where students thrive.</p>
    </main>
        
</body>
</html>
